<html lang = "en" xmlns:th="http://thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Product Form</title>
</head>

<body>
<form th:action="@{~/product/remove}" method="post" th:object="${product}">
<input type = "hidden" th:field="*{Id}">
<table>
<tr th:each="item:${product}">
	<td>Product Name</td>
	<td th:text="${product.Name}" ></td>
</tr>
<tr> 
	<td>Price</td>
	<td th:text="${product.Price}" ></td>
</tr>
<tr> 
	<td>Stock</td>
	<td th:text="${product.Stock}" ></td>
</tr>
<tr> 
	<td>Category ID</td>
	<td th:text="${product.CategoryId}" ></td>
</tr>

<tr>
	<td colspan = "2" align="right"><input class="btn btn-danger" type="submit" value="Delete Product"></td>
</tr>

</table>
</form>
</body>
</html>
