<html lang = "en" xmlns:th="http://thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Variant Form</title>
</head>

<body>
<form th:action="@{~/variant/remove}" method="post" th:object="${variant}">
<input type = "hidden" th:field="*{Id}">
<table>
<tr th:each="item:${variant}">
	<td>Variant Name</td>
	<td th:text="${variant.Name}" ></td>
</tr>
<tr> 
	<td>Category ID</td>
	<td th:text="${variant.CategoryId}" ></td>
</tr>

<tr>
	<td colspan = "2" align="right"><input class="btn btn-danger" type="submit" value="Delete Variant"></td>
</tr>

</table>
</form>
</body>
</html>
