<html lang = "en" xmlns:th="http://thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Variant Form</title>
</head>

<body>
<form th:action="@{~/variant/save}" method="post" th:object="${variant}">
<input type = "hidden" th:field="*{Id}">
<table class="table">
<tr> 
	<td>Variant Name</td>
	<td><input type = "text" th:field="*{Name}" class="form-control"></td>
</tr>
<tr> 
	<td>Category ID</td>
	<td><select class ="form-control" th:field="*{CategoryId}">
	<option th:each=" t:${category}" th:text="${t.Name}" th:value="${t.CategoryId}">
	</option></select></td>	
</tr>
<tr>
	<td colspan = "2" align="right" ><input class="btn btn-primary" type = "submit" value = "Save Variant"></td>
</tr>

</table>
</form>
</body>
</html>
