<html lang = "en" xmlns:th="http://thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Category Form</title>
</head>

<body>
<form th:action="@{~/category/remove}" method="post" th:object="${category}">
<input type = "hidden" th:field="*{CategoryId}">
<table>
<tr th:each="item:${category}">
	<td>Category Name</td>
	<td th:text="${category.Name}" ></td>
</tr>
<tr>
	<td colspan = "2" align="right"><input class="btn btn-danger" type="submit" value="Delete Product"></td>
</tr>

</table>
</form>
</body>
</html>
