<html lang = "en" xmlns:th="http://thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Category List</title>
	
	<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" >
	<link th:href="@{/jquery.dataTables.min.css}" rel="stylesheet">
	
	<script th:src="@{/jquery.min.js}"></script>
	<script th:src="@{/jquery.dataTables.min.js}"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	
<style>
html {
	margin:15px;
	}
</style>
	
</head>
<body>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mytitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalbody">
        ...
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary" onclick="addform()">+Tambah Data</button>

<table id="example" class="display">
<thead>
<tr>
	<th>Product Name</th>
	<th>Edit</th>
	<th>Delete</th>
</tr>
</thead>
<tbody>
<tr th:each="item: ${category}">
	<td th:text= "${item.Name}"></td>
	<td><button class="btn btn-primary" th:value="${item.CategoryId}" onclick="gotoedit(this.value)">Edit</button></td>
	<td><button class="btn btn-primary" th:value="${item.CategoryId}" onclick="gotodelete(this.value)">Delete</button></td>
</tr>
</tbody>
</table>
<script>
$(document).ready(function() {
    $('#example').DataTable();
} );

function gotoedit(id){
	//location.replace('/product/edit/'+id);
	$.ajax({
		type:'get',
		url:'/category/edit/'+id,
		datatype: 'html',
		success: function(data){
			document.getElementById('modalbody').innerHTML=data;
			document.getElementById('mytitle').innerHTML="FORM EDIT CATEGORY";
			$('#myModal').modal();
		}
	})
}

function gotodelete(id){
	//location.replace('/product/delete/'+id);
	$.ajax({
		type:'get',
		url:'/category/delete/'+id,
		datatype: 'html',
		success: function(data){
			document.getElementById('modalbody').innerHTML=data;
			document.getElementById('mytitle').innerHTML="FORM HAPUS CATEGORY";
			$('#myModal').modal();
		}
	})
}

function addform(){
	console.log("here");
	$.ajax({
		type:'get',
		url:'/category/form',
		datatype: 'html',
		success: function(data){
			document.getElementById('modalbody').innerHTML=data;
			document.getElementById('mytitle').innerHTML="FORM TAMBAH CATEGORY";
			$('#myModal').modal();
		}
	})
}
</script>
</body>	
</html>